{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="card">
    <div class="login-box-body">
        <h2 class="login-box-msg">Password Reset</h2>
        {% if user.is_authenticated %}
                You are loged in..
         {% else %}
          <form class="form-group" method="post">{% csrf_token %}

            {{ form.as_p }}
            <div class="form-group text-right">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Reset Paasword</button>
           </div>


          </form>
		  <div class="form-group text-center">
        <h4> <a href="/auth/login">Login</a></h4>
   </div>
         {% endif %}
    </div>
    <!-- /.login-card-body -->
  </div>
{% endblock content %}
{% block footer_javascript_base %}

<script type="text/javascript">
  $(function () {
    $("#id_email").addClass("form-control");
    $("#id_email").attr("placeholder", "Email");

    $("input#id_email").after(' <span class="fa fa-lock form-control-feedback"></span>');



  });
  </script>
{% endblock footer_javascript_base %}

