{% extends 'inner.html' %}
{% load static %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
{{ error }}

     <div class="content-wrapper ">

          <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Change Password</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
         </div>

          <section class="content">
              <div class="container-fluid">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-xs-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Change Password</h3>
                            </div>
                            <div class="card-body">

                                   <p>Password changed successfully!</p>
                                <div class="form-group clearfix text-center">
                                    <a href="/dashboard/lo" class="btn bg-maroon btn-flat margin btn-primary">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </section>





{% endblock content %}

{% block footer_javascript %}

<script type="text/javascript">
  $(function () {
    $("#id_old_password").addClass("form-control");


    $("input#d_old_password").after(' <span class="fa fa-lock form-control-feedback"></span>');
     $("#id_new_password1").addClass("form-control");


    $("input#id_new_password1").after(' <span class="fa fa-lock form-control-feedback"></span>');
     $("#id_new_password2").addClass("form-control");


    $("input#id_new_password21").after(' <span class="fa fa-lock form-control-feedback"></span>');




  });
  </script>
{% endblock footer_javascript %}
