{% extends 'inner.html' %}
{% load static %}


{% block content %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{ title }}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard/lo">Home</a></li>
              <li class="breadcrumb-item active">{{ title }}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
              <form action="" method="post">
                  {% csrf_token %}

                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fa fa-trophy"></i> Edit League</h3>
                    </div>
                    {{ errors }}
                    <div class="card-body">
                      <div class="row">
                            <label class="col-4 text-center">League Name</label>
                            <div class="col-8">
                              <input type="text" name="leaguename" value="{{ leaguename }}" class="form-control" />
                            </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                  <div class="card-footer text-right">
                      <input type="submit" value="Submit" class="btn btn-success"  value="Edit" />
                  </div>
                  <!-- /.card-footer -->
                  </div>
              </form>
        </div>


      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->

  <!-- /.control-sidebar -->

  <!-- Main Footer -->
{% endblock content %}